*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* MEDIA NA MOBIL */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
/* MEDIA NA VETKO NAD 768px */
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-bottom: 20px;
}
section
{
    padding: 20px;
}
nav
{
    z-index: 1000;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul
{
    list-style-type: none;
    display: flex;
    padding: 30px;
    gap: 30px;  
}
nav a
{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    transition: 0.4s;
}
nav img
{
    width: 300px;
    height: auto;
    top: 10px;
    right: 10px;
}
nav a:hover
{
    background-color: red;
    border-radius: 5px;
}
section h1
{
    color: #002448;
    position: relative;
}
.hero
{
    background-image: url("images/herosection.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 60px;
    color: black;
    text-align: center;
    flex-direction: column;
}
.hero p
{
    font-size: 30px;
    color: #b5945e;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.references
{
    background-color: #002448;
    color: rgb(0, 0, 0);
    padding: 60px 20px;

    text-align: center;

    display: flex;
    flex-direction: column; /* toto chýba */
    align-items: center;
}
.firms {
    color: white;
    padding: 60px 20px;
    text-align: center;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
    flex-wrap: wrap;

    margin-top: 40px;
}


.logo-container img {
    max-height: 80px;
    max-width: 180px;
    width: auto;
    height: auto;
    object-fit: contain;
}
.firms h2
{
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.whyus
{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 60px 20px;
    text-align: center;
}
.certificates-container
{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.certificates-container img
{
    width: 260px;
    height: 350px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    transition: .3s;
}

.certificates-container img:hover
{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,.25);
}
