*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* MEDIA NA MOBIL */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
/* MEDIA NA VETKO NAD 768px */
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}
section
{
    padding: 20px;
}
nav
{
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul
{
    list-style-type: none;
    display: flex;
    padding: 30px;
    gap: 30px;  
}
nav a
{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    transition: 0.4s;
}
nav img
{
    width: 300px;
    height: auto;
    top: 10px;
    right: 10px;
}
nav a:hover
{
    background-color: red;
    border-radius: 5px;
}
section h1
{
    color: #002448;
    position: relative;
}
.hero
{
    background-image: url("images/herosection.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 60px;
    color: black;
    text-align: center;
    flex-direction: column;
}
.hero p
{
    font-size: 30px;
    color: #b5945e;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}