*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
section
{
    scroll-margin-top: 120px;
}
/* MEDIA NA MOBIL */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
/* MEDIA NA VETKO NAD 768px */
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-bottom: 20px;
}
section
{
    padding: 20px;
}
nav
{
    z-index: 1000;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul
{
    list-style-type: none;
    display: flex;
    padding: 30px;
    gap: 30px;  
}
nav a
{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    transition: 0.4s;
}
nav img
{
    width: 300px;
    height: auto;
    top: 10px;
    right: 10px;
}
nav a:hover
{
    background-color: red;
    border-radius: 5px;
}
section h1
{
    color: #002448;
    position: relative;
}
.hero
{
    background-image: url("images/herosection.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 60px;
    color: black;
    text-align: center;
    flex-direction: column;
    animation: heroZoom 8s ease-in-out infinite alternate;
}

@keyframes heroZoom{
    from{
        background-size:100%;
    }

    to{
        background-size:110%;
    }
}

.hero p
{
    font-size: 30px;
    color: #b5945e;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.references
{
    background-color: #002448;
    color: rgb(0, 0, 0);
    padding: 60px 20px;

    text-align: center;

    display: flex;
    flex-direction: column; /* toto chýba */
    align-items: center;
}
.firms {
    color: white;
    padding: 60px 20px;
    text-align: center;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
    flex-wrap: wrap;

    margin-top: 40px;
}


.logo-container img {
    max-height: 80px;
    max-width: 180px;
    width: auto;
    height: auto;
    object-fit: contain;
}
.firms h2
{
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.whyus
{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 60px 20px;
    text-align: center;
}
.certificates h2
{
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.certificates-container
{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.certificates-container img
{
    width: 260px;
    height: 350px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    transition: .3s;
}

.certificates-container img:hover
{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px #b5945e;
}
.services
{
    text-align:center;
    padding:80px 20px;
}


.services h2
{
    font-size:50px;
    color:#002448;
    margin-bottom:40px;
}



.services-nav
{
    display:flex;
    justify-content:center;
    gap:30px;

    margin-bottom:50px;

}



.service-btn
{
    padding:15px 35px;

    border:none;

    border-radius:30px;

    background:#eeeeee;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}



.service-btn:hover
{
    transform:translateY(-5px);

    box-shadow:0 10px 20px rgba(0,0,0,.2);
}



/* farby */

.blue
{
    color:#002448;
}


.red
{
    color:#d00000;
}


.green
{
    color:#008000;
}




/* aktívne tlačidlo */

.service-btn.active
{
    color:white;
}



.service-btn.blue.active
{
    background:#002448;
}



.service-btn.red.active
{
    background:#d00000;
}



.service-btn.green.active
{
    background:#008000;
}





.more-btn
{
    display:inline-block;

    margin-top:25px;

    padding:15px 35px;

    background:#b5945e;

    color:white;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;
}


.more-btn:hover
{
    background:#8f713f;

    transform:translateY(-5px);
}




.service-logo img
{
    width:170px;

    height:170px;

    border-radius:50%;

    object-fit:cover;
}




.service-text
{
    text-align:left;
}




.service-text h3
{
    font-size:35px;

    color:#002448;

    margin-bottom:20px;
}



.service-text p
{
    font-size:18px;

    line-height:1.6;
}

.service-info
{
    max-width:900px;
    margin:auto;

    padding:40px;

    background:white;

    border-radius:25px;

    box-shadow:0 15px 40px rgba(0,0,0,.15);

    display:flex;
    align-items:center;
    gap:40px;

    overflow:hidden;
}


.service-change
{
    animation: cardChange 0.7s ease;
}



@keyframes cardChange
{

0%
{
    opacity:0;
    transform:scale(0.85) translateX(80px);
}


40%
{
    opacity:0.5;
}


100%
{
    opacity:1;
    transform:scale(1) translateX(0);
}

}

.logo-change
{
    animation: logoSpin 0.7s ease;
}



@keyframes logoSpin
{

0%
{
    transform:rotate(-180deg) scale(0.5);
    opacity:0;
}


100%
{
    transform:rotate(0deg) scale(1);
    opacity:1;
}

}

@keyframes changeService
{
    from
    {
        opacity:0;
        transform:translateY(20px);
    }


    to
    {
        opacity:1;
        transform:translateY(0);
    }
}

.more-btn
{
    display:inline-block;

    margin-top:25px;

    padding:15px 35px;

    background:#b5945e;

    color:white;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;
}


.more-btn:hover
{
    background:#8f713f;

    transform:translateY(-5px);
}


@keyframes fade
{
    from
    {
        opacity:0;
        transform:translateY(15px);
    }

    to
    {
        opacity:1;
        transform:translateY(0);
    }
}
.card
{
    background-color: white;
    width: auto;
    padding: auto;

    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    transition: 0.3s;
}
.card p 
{
    color: #000000;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 1.6;
}
.card img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    transition: .3s;
}
.card:hover
{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px #000000;
}

.contact
{
    padding:80px 20px;
    text-align:center;
}

.contact h2
{
    font-size:45px;
    color:#002448;
    margin-bottom:50px;
}

.contact-container
{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.contact-card
{
    width:360px;

    background:white;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);

    padding:35px;

    transition:.3s;
}

.contact-card:hover
{
    transform: translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.2);
}

.contact-icon
{
    font-size:45px;

    margin-bottom:20px;
}

.contact-value
{
    font-size:24px;

    font-weight:bold;

    color:#002448;

    margin-bottom:25px;

    word-break:break-word;
}

.copy-btn
{
    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#b5945e;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.copy-btn:hover
{
    background:#8f713f;
}

.mail-btn
{
    display: inline-block;

    margin-top: 15px;

    padding: 15px 35px;

    background-color: #002448;

    color: white;

    border-radius: 30px;

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;
}


.mail-btn:hover
{
    background-color: #b5945e;

    transform: translateY(-5px);

    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.contact-card p
{
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}

#copy-message
{
    display:none;

    margin-top:15px;

    color:#008000;

    font-weight:bold;

    opacity:0;

    transform:translateY(20px);

}


#copy-message.show
{
    display:block;

    animation: messageIn 0.4s ease forwards;
}



#copy-message.hide
{
    display:block;

    animation: messageOut 0.4s ease forwards;
}



@keyframes messageIn
{
    from
    {
        opacity:0;
        transform:translateY(20px);
    }

    to
    {
        opacity:1;
        transform:translateY(0);
    }
}



@keyframes messageOut
{
    from
    {
        opacity:1;
        transform:translateY(0);
    }

    to
    {
        opacity:0;
        transform:translateY(-20px);
    }
}
.copy-message
{
    height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(20px);

    margin-top: 15px;

    color:#008000;

    font-weight:bold;

    transition: 
    opacity 0.4s ease,
    transform 0.4s ease,
    height 0.4s ease;
}



.copy-message.show
{
    height:25px;

    opacity:1;

    transform:translateY(0);
}



.copy-message.hide
{
    height:0;

    opacity:0;

    transform:translateY(-20px);
}   
.scroll-down
{
    position:absolute;

    bottom:30px;
    right:30px;

    width:50px;

    animation: bounce 2s infinite;

    transition:0.4s;
}


.scroll-down img
{
    width:100%;
}



@keyframes bounce
{
    0%,100%
    {
        transform:translateY(0);
    }

    50%
    {
        transform:translateY(16px);
    }
}